.text-gray-300{
    color: #bababa!important;
} 

//form
.form-control-gray-700{
    background-color: #303030!important;
    border-color: #303030!important;
    color: #fff!important;
}


//border
.border-gray-700{
    border-color: #303030!important;
}