.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 2rem;
}
.custom-control .custom-control-label{
    color: #767676;
    cursor: pointer;
}

.custom-control {
    padding-left: 0;
}
.custom-control-input{
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1.125rem;
    height: 1.3125rem;
    opacity: 0;
}
.custom-control .custom-control-input:checked~.custom-control-label{
    color: #111;
}

.custom-checkbox .custom-control-label, .custom-radio .custom-control-label{
    padding-left: 2rem;
}
.custom-control-label{
    position: relative;
    margin-bottom: 0;
    color: #767676;
    vertical-align: top;
}