.font-size-xxs{
    font-size: .8125rem!important;
}
.font-size-xs {
    font-size: .875rem!important;
} 
.font-size-base {
    font-size: 1rem!important;
}
.font-size-sm{
    font-size: .9375rem!important;
}
.font-size-lg{
    font-size: 1.125rem!important;
} 
.font-weight-bold {
    font-weight: 500!important;
}