.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + 1.75rem + 2px);
    padding: .875rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #111;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;  
    background-clip: border-box;
    transition: all .1s ease-in-out;
    transition-property: border;

}
.form-control-xs {
    height: calc(.9375rem * 1.5 + .5rem * 2 + 2px);
    padding: .5rem .75rem;
    font-size: .9375rem;
}
.form-row{ 
    margin-right: -10px;
    margin-left: -10px; 
}