.input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group-merge .form-control{
    border-right-width: 0;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext{
    position: relative;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}
.input-group-append{
    margin-left: -1px;
}
.input-group-append, .input-group-prepend{
    display: flex;
}

.input-group-merge .input-group-append>*{
    border-left-width: 0;
    transition: all .1s ease-in-out;
    transition-property: border;
}