//bottom
.mb-0, .my-0{
    margin-bottom: 0!important;
} 
.mb-6, .my-6 {
    margin-bottom: 1.5rem!important;
}
.mb-7, .my-7{
    margin-bottom: 2rem!important;
}
.mb-10, .my-10{
    margin-bottom: 4rem!important;
}
.mb-11, .my-11{
    margin-bottom: 5rem!important;
}

.mr-8, .mx-8{
    margin-right: 2.5rem!important;
}
.mr-auto, .mx-auto{
    margin-right: auto!important;   
}