@import './theme.scss';

.navbar{
    padding: 1.5rem 1rem;
}

.navbar-brand{
    font-size: 1.75rem;
    font-weight: 600;
    padding-top:0;
    padding-bottom:0;
}

.nav-link{

    color: $font-color!important;  
    position: relative;
    font-weight: 500;

    &.active{
        color: $active-color!important;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            left: .75rem;
            right: .75rem;
            bottom: .25rem;
            border-top: 1px solid $active-color;
        }
    }     
    &:hover{
        color: $active-color!important;
    }
    &:focus{
        color: $active-color;
    }
}

  
//有的去除箭头
.no-arrow{
    .dropdown-toggle::after{
        display: none;
    }
}

@media (min-width: 1200px){
    .navbar-nav .dropdown>.dropdown-menu{
        display: block!important;
        visibility: hidden;
        transform-origin: top center;
        opacity: 0;
        left: 50%;
        transform: translate(-50%,.5rem);
    }
}