.table {
    width: 100%;
    margin-bottom: 1.5rem;
    color: #111;
    border-collapse: collapse;

    td,th{
        padding: 1.5rem;
        vertical-align: top;
        border-top: 1px solid #e5e5e5;
    }
}

.table-borderless tbody+tbody, .table-borderless td, .table-borderless th, .table-borderless thead th{
    border: 0;
}